/**************************************************************************************************
 * 		PROFILE STYLING
**************************************************************************************************/

#body{
    width: 75%;
    min-height: 500px;
}

div.profilo{
    float: left;
}

#tabs{
    float: left;
    width: 70%;
    font: 85% "Trebuchet MS", sans-serif;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}



b {
    font-weight: bold;
    font-size: 15px;
}


div.profilo {
    width: 6cm;
}



div.viaggio {
    width: 85%;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 30px 30px 30px 30px;
    background: #39599F;
    overflow: auto;
    text-align: left;
}


div.viaggio:hover{
    opacity:0.8;
}


div.riga-1 div {
    float: left;
    width: 20%;
    overflow: hidden;
    height: 15px;
}



div.riga-1 div + div {
    margin-left: 20%;
}


div.riga-2 div {
    float: left;
    width: 30%; 
    overflow: hidden;
    height: 15px;
}


div.riga-2 div + div {
     margin-left: 10%;
}

div.riga-3 div{
    float: left;
    width: 100%;
    overflow: hidden;
    height: 20px;
}